<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="ServerUrl" value="http://192.168.200.42:97/yyfz/api/"/>
    <add key="hospitalCode" value="00000"/><!-- 医院编码 -->
    <add key="deptCode" value="1000011"/><!-- 科室编码 -->
    <add key="ClincID" value="100001101"/><!-- 诊室ID -->
    <add key="Setting" value="0" /><!--标识是否是第一次启动-->
    <add key="StartUpSocket" value="false" /><!--True是启动,默认为Http请求-->
    <add key="WhetherToAssign" value="false"/><!--是否把患者ID赋值给医生工作站-->
    <add key="OutPutLocationX" value="100"/><!--把患者ID注入的坐标X轴-->
    <add key="OutPutLocationY" value="100" /><!--把患者ID注入的坐标Y轴-->
    <add key="sleepOutPutTime" value="100" /><!--因为赋值给医生工作站的时候会有延迟所以需要线程休眠一下-->
    <add key="log4net.config" value="Log4net\log4net.config"/>
  </appSettings>
</configuration>
