<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<appSettings>
  <add key="ServerUrl" value="http://192.168.200.42:97/yyfz/api/"/>
  <add key="hospitalCode" value="00000"/><!-- 医院编码 -->
  <add key="deptCode" value="1000011"/><!-- 科室编码 -->
  <add key="clinicID" value="100001101"/><!-- 诊室ID -->
  <add key="StartupScreen" value="1"/><!--配置文件设置启动的屏幕 1（公共大屏）2（科室小屏）3（医生小屏）-->
  <add key="Setting" value="1"/>
  <add key="RefreshTime" value="5000" /><!--刷新时间-->
  <add key="StartUpSocket" value="False"/><!--True是启动默认为Http请求-->
  <add key="VoiceRate" value="-2" />
  <add key="CallNextSpan" value="3000" />
  <add key="VoicePackage" value="2" />
  <add key="log4net.config" value="Log4net\log4net.config"/>
</appSettings>
</configuration>
