<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<appSettings>
  <add key="StartupScreen" value="1"/><!--配置文件设置启动的屏幕 1（公共大屏）2（科室小屏）3（医生小屏）-->
  <add key="StartUpSocket" value="False"/><!--True是启动默认为Http请求-->
  <add key="VoiceRate" value="-2" />
  <add key="CallNextSpan" value="5" />
  <add key="VoicePackage" value="0" />
  <add key="YuYing" value=""/>
</appSettings>
</configuration>
