<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 服务器测试库ip+端口 -->
    <add key="serverUrl" value="http://192.168.200.42:97/yyfz/api/" />
    <!-- 本地 -->
    <!--<add key="serverUrl" value="http://192.168.11.43:8080/yyfz/api/"/>-->
    <!-- 第一次启动 1：是 0：否-->
    <add key ="firstStart" value="1"/>
    <!-- 医院编码 -->
    <add key="hospitalCode" value="00000"/>
    <!-- 科室编码 -->
    <add key="deptCode" value=""/>
    <!-- 科室编码 -->
    <add key="deptCode" value="1000011"/>
    <add key="pagesize" value="10"/><!--每页数量-->
    <add key="log4net.config" value="Log4net\log4net.config"/>
    <!-- 小票打印机名称 Microsoft XPS Document Writer -->
    <add key="PrinterName" value="Printer AB-88H"/>
    <!-- 自动刷新间隔 单位：秒 -->
    <add key="AutoRefreshTimeSpan" value="10"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
