<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 服务器ip+端口 -->
    <add key="serverUrl" value="http://192.168.200.42:97/yyfz/api/" />
    <!-- 客户端类型 0：管理端、1：候诊屏、2：呼号端-->
    <add key="clientVersionType" value="1" />
    <!-- 版本号-->
    <add key="version" value="0.0.0" />
    <!--启动可执行文件名-->
    <add key="StartUpEXE" value="Xr.RtScreen.exe"/>
    <add key="log4net.config" value="Log4net\log4net.config"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
