<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <appSettings>
  </appSettings>
  <log4net outdate_days="30">
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="omsLog\" />
      <!--文件保存地址-->
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM-dd&quot;.log&quot;"/>
      <!--文件保存名称-->
      <staticLogFileName value="false" />
      <param name="Encoding" value="utf-8" />
      <!--文件编码格式-->
      <maximumFileSize value="10MB" />
      <!--保存文件大小-->
      <!--<countDirection value="0" />-->
      <maxSizeRollBackups value="50" />
      <!--保存文件数量-->
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%date 线程：[%thread] 日志级别：%-5level 记录类：%logger 日志消息：%message%n%newline%n" />
        <!--文件记录格式-->
      </layout>
    </appender>
    <logger name="FileLogger" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </logger>
  </log4net>
</configuration>